<div class="container">
  <h1>Atlas</h1>
</div>

<div class="banner">
  <div class="container">
    <h2>Add new continent</h2>
  </div>
</div>

<div class="container">
<%= render "form", continent: @continent %>


<%= link_to 'Back', continents_path %>
</div>
