
<div class="container">
  <h1>Atlas</h1>
</div>

<div class="banner">
  <div class="container">
    <h2><%= @continent.name %></h2>
  </div>
</div>

<div class="container">
  <ul class="country">
    <% @continent.countries.each do |country|%>
      <li>
        <%= link_to country.name, country_path(country.id) %>
        <br>
        <%=image_tag country.flag_url%>
        <br>


        <%= link_to 'Edit', edit_country_path(country.id) %>
      </li>

    <% end %>

  </ul>
</div>

<!-- add country link -->
