<div class="container">
  <h1>Atlas</h1>
</div>

<div class="banner">
  <div class="container">
    <h2>Countries</h2>
  </div>
</div>

<div class="container">
  <% @countries.each do |country| %>
    <p><%= link_to country.name, country_path(country.id) %></p>
  <% end %>

  <hr>

  <%= link_to "[New Country]", new_country_path %>
</div>
