// Place all the styles related to the continents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://bootswatch.com/journal/bootstrap.min.css');

h1 {

}

h2 {
  color: white;
}

body {

}

a {
  color:black;
  font-size: 20px;
  text-decoration: none;

}
.button a {
  color: white;
}
a:hover {
  color:black;
  font-size: 20px;
}

.banner {
  background-color: grey;
  height: 80px;
  margin-bottom: 20px;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.button {
  color: white;
  background-color: #96a5bc;
  padding: 7px;
  width: 80px;
  border-radius: 4px;
  margin-top: 3px;
  margin-left: 2px;
  display: inline-block;
  text-align: center;
}
.button:hover {
  background-color: #8190ab;
}

ul {
    list-style-type: none;
}

ul.country {
  display: flex;
  flex-wrap: wrap;
  max-width: 940px;
  margin: 20px auto;
  margin-left: 50px;
}

img {
  width: 300px;
  height: 180px;
}

ul.country li {
  padding: 20px;
  margin: 2px;
  width: calc(100%/2 - 40px);
}
